Source: slurp
Section: x11
Priority: optional
Maintainer: Birger Schacht <birger@debian.org>
Build-Depends: debhelper-compat (= 13),
               libcairo2-dev,
               libwayland-dev,
               meson,
               pkg-config,
               scdoc,
               wayland-protocols (>> 1.32),
               libxkbcommon-dev
Standards-Version: 4.6.2
Homepage: https://wayland.emersion.fr/slurp/
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/birger/slurp.git
Vcs-Browser: https://salsa.debian.org/birger/slurp

Package: slurp
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: cli utility to select a region in a Wayland compositor
 slurp is a command-line utility to select a region from Wayland compositors
 which support the layer-shell protocol. It lets the user hold the pointer to
 select, or click to cancel the selection.
